:root {
    --primary-500: rgba(255, 98, 87, 1);
    --neutral-800:rgba(36, 39, 66, 1);
    --neatural-700: rgba(54, 56, 78, 1);
    --gray: rgba(148, 148, 148, 1);
    --white: rgba(255, 255, 255, 1);

    --ff-reg: 'Roboto', Arial, Helvetica, sans-serif;
    --ff-bold: 'Roboto Bold', Arial, Helvetica, sans-serif;
}

/* Utilities */

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto Bold';
    src: url(./assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

.bold {
    font-family: var(--ff-bold);
}

.primary-500 {
    color: var(--primary-500)
}

.neutral-800 {
    color: var(--neutral-800)
}

.neutral-700 {
    color: var(--neatural-700)
}




/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.5;
  font-family: var(--ff-reg);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* Card */

.card__container, .success__container {
    max-width: 20.5rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding-block: 2.4rem 2rem;
    
}

.card__header, .success__header {
    font-size: 2.5rem;
}

.mobile-img {
    margin-inline: auto;
    margin-block-start: -1rem
}

.success__img {
    max-width: 4rem;
    padding-block: 7rem 1rem;
}


/* unordered list */

.card__unordered {
    display: flex; 
    flex-direction: column;
    gap: 0.7rem;
    /* padding-block: 0.5rem 0; */
}

.unordered__list {
    display: flex;
}

.list__img {
    padding-inline-end: 1rem;
    margin-block-end: auto;
}

/* email input */

.email {
    display: flex;
    flex-direction: column;
    padding-block: 1.2rem 0;
    gap: 0.7rem;
}

.email__label {
    font-size: 0.8rem;
}

.email__input {
    height: 3.5rem;
    border: 0.1rem solid var(--gray);
    border-radius: 0.5rem;
    padding-inline: 1.5rem;
    outline: none;
    &:focus {
        border-color: var(--neutral-800);
    }
}

/* button */

.button, .success__btn {
    height: 3.5rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
    color: var(--white);
    background-color: var(--neutral-800);
}

.success__btn {
    margin-block: 13rem 0;
}

.hidden {
    display: none;
}

@media screen and (min-width: 45em) {
    
    body {
        background-color: var(--neatural-700);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: var(--white);
        width: 58rem; /* for a card like this is it okat to use exact sizing like this? */
        min-height: 40rem;
        display: flex;
        border-radius: 2rem;
    }

    .success {
        background-color: var(--white);
        width: 30rem;
        height: 30rem;
        display: flex;
        border-radius: 2rem;
    }

    .success__img {
        padding-block: 1rem 0;
    }
    .hidden {
            display: none; /* I have to put another .hidden here for .card to listen to display none? */
        }
    .card__container {
        justify-content: center;
        padding: 0 0 0 1rem;
        max-width: 24.5rem;
    }

    .card__header {
        
        font-size: 3.5rem;
    }

    .mobile-img {
        display: none;
    }

    .desktop-img {
        display: block;
        padding: 1.5rem;
    }

    .success__btn {
        margin-block: 0;
    }

    .button:hover, .success__btn:hover {
        background-color: rgba(255, 98, 87, 1);
        background: linear-gradient(
        90deg,
        rgb(255, 83, 120, .9) 0%,
        rgba(255, 98, 87, .9) 45%,
        rgb(243, 104, 64, .9) 100%
  );
    }

}